html {
    position: relative;
    min-height: 100%;
}

.required {
    color: #ff0000;
    font-weight: bold;
}

/* Bootstrap IE10 viewport bug workaround */
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

/* Color */
.bg-white { background-color: white; }

/* Custom File Input */
.custom-file-control::after {
  content: "Select file...";
}

.custom-file-control::before {
  content: "Click me";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected::after {
  content: "" !important;
}

.custom-file {
  overflow: hidden;
}
.custom-file-control {
  white-space: nowrap;
}