html {
    /* Override base font size to use 14px */
    font-size: 87.5%;
}

#session-language {
  width: 100%;
    /*margin: 0 15px 0 20px;*/
}

#session-language-dropdown {
    /*margin: 13px 15px 0 0;*/
  width: 100%;
  text-align: center;
}

#session-language-dropdown li {
    /*position: relative;*/
}

.selected-session-language {
    /*position: absolute;*/
    /*top: 6px;*/
    /*left: 4px;*/
}

#captcha {
    /*width: 100px !important;*/
    /*display: inline-block !important;*/
}


@media (max-width:767px) {
    #session-language {
        margin: 12px 0 0 15px;
    }
}

/* Footer */
footer a, footer a:hover {
    color: #767676;
}

/* Property listing */
.list__card {
  color: inherit;
  text-decoration: none;
}
.list__card:hover {
  color: inherit;
  text-decoration: none;
}

.list__card > .card > .card-img-top {
  max-height: 13.5rem;
}

.list__card .card-text a {
  text-decoration: none; color: inherit;
}

/* Google Maps */
.google-maps {
    position: relative;
    padding-bottom: 20rem; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*

  BOX-SHADOW

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */
.shadow-1 { box-shadow: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-2 { box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-3 { box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-4 { box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 ); }
.shadow-5 { box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); }

/*

   BORDER BASE

   Legend

   a = all
   t = top
   r = right
   b = bottom
   l = left

*/
.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bl { border-left-style: solid; border-left-width: 1px; }
.bn { border-style: none; border-width: 0; }

/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/
.b--light-gray { border-color: #eee; }
